<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <title>Bubble Pie Chart</title>

  <style>

    body {
      font-family: sans-serif;
    }

    text {
      font: 10px sans-serif;
      text-anchor: middle;
    }

    g.arc path {
      stroke: #828282;
      stroke-width: 0.5;
    }

    g.arc text {
      font-size: 10px;
    }

  </style>
</head>

<body>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script>

  // var data = [
  //   ["bubble1", [10, 20]],
  //   ["bubble2", [5, 7]],
  //   ["bubble3", [6, 6, 10]],
  //   ["bubble4", [12, 14]],
  //   ["bubble5", [14, 4]],
  //   ["bubble6", [15, 5, 10]],
  //   ["bubble7", [10, 10]],
  //   ["bubble8", [25, 10]],
  //   ["bubble9", [10, 25, 10, 10]],
  //   ["bubble10", [55, 10]],
  //   ["bubble11", [10, 80, 10, 10]],
  //   ["bubble12", [50, 50]],
  // ];

  // var data = [
  //   {'title': 'video1',
  //    'data': [{'label': 'A',
  //              'value': 10},
  //             {'label': 'B',
  //              'value': 20}]},
  //   {'title': 'video2',
  //    'data': [{'label': 'A',
  //              'value': 20},
  //             {'label': 'B',
  //              'value': 50}]}
  // ];

  d3.json('/exam-bubble-pie-data.json?exam_id={{ exam_id }}', function(error, data) {

    // var color = d3.scale.category20c();
    var color = d3.scale.ordinal()
        .range(['#16a085', '#1abc9c', '#f1c40f', '#f39c12', '#e67e22']);

    var width = 860,
        height = 600;

    function makeBubbleValuesArray(data) {
      var valuesArray = [];
      for (var j = 0; j < data['data'].length; j++) {
        var value = data['data'][j][1];
        valuesArray.push(value);
      }
      return valuesArray;
    }

    function getSliceLabel(data, i) {
      var label = data['data'][i][0];

      return label;
    }

    // function getSliceLabel(data, i) {
    //   sliceLabel = data['data'][i]['label']
    //   return sliceLabel;
    // }

    var bubble = d3.layout.pack()
          .value(function(d, i) { return d3.sum(makeBubbleValuesArray(d)); })
          .sort(null)
          .size([width, height])
          .padding(1.5),
        arc = d3.svg.arc().innerRadius(15),
        pie = d3.layout.pie();

    var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("class", "bubble");

    var nodes = svg.selectAll("g.node")
        .data(bubble.nodes({children: data}).filter(function(d) { return !d.children; }));
    nodes.enter().append("g")
        .attr("class", "node")
        .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

    var arcGs = nodes.selectAll("g.arc")
        .data(function(d, i) {
          return pie(makeBubbleValuesArray(d)).map(function(m) { m.r = d.r; return m; });
        });
    var arcEnter = arcGs.enter().append("g").attr("class", "arc");

    arcEnter.append("path")
        .attr("d", function(d) {
          arc.outerRadius(d.r);
          return arc(d);
        })
        .style("fill", function(d, i) { return color(i); })
        .on("mouseover", function(d) {
          d3.select(this).transition()
            .duration(1000)
            .attr("d", function(d) {
              arc.outerRadius(d.r * 1.5);
              arc.innerRadius(d.r * 0.67);
              return arc(d);
            });
        })
        .on("mouseout", function(d) {
          d3.select(this).transition()
            .duration(1000)
            .attr("d", function(d) {
              arc.outerRadius(d.r);
              arc.innerRadius(15)
              return arc(d);
            });
        });

    arcEnter.append("text")
        .attr({
          x: function(d) { arc.outerRadius(d.r); return arc.centroid(d)[0]; },
          y: function(d) { arc.outerRadius(d.r); return arc.centroid(d)[1]; },
          dy: "0.35em"
        })
        .style("text-anchor", "middle")
        // .text(function(d) { console.log(d); return d.value; });
        .text(function(d) { return; });                     // set slice label

    var labels = nodes.selectAll("text.label")
        // .data(function(d) { return [d['title']]; });
        .data(function(d) { return '+'; });

    labels.enter().append("text")
        .attr({
          "class": "label",
          dy: "0.35em"
        })
        .style("text-anchor", "middle")
        // .call(wrap, x.rangeBand())
        .text(String);

    var legend = svg.selectAll(".legend")
        .data(color.domain())
      .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

    legend.append("rect")
        .attr("x", width - 800)
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", color);
        // .style("fill", function(d, i) { return color(i); });

    legend.data(data);    // redefine data for text
    
    legend.append("text")
        .attr("x", width - 806)
        .attr("y", 9)
        .attr("dy", ".35em")
        .style("text-anchor", "end")
        // .text(function(d) { return d; });  // set legend label
        .text(function(d, i) { return getSliceLabel(d, i); })
        // .text(function(d, i) { console.log(d); return getSliceLabel(d, i); });

    function wrap(text, width) {
      text.each(function() {
        var text = d3.select(this),
            words = text.text().split(/\s+/).reverse(),
            word,
            line = [],
            lineNumber = 0,
            lineHeight = 1.1, // ems
            y = text.attr("y"),
            dy = parseFloat(text.attr("dy")),
            tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", dy + "em");
        while (word = words.pop()) {
          line.push(word);
          tspan.text(line.join(" "));
          if (tspan.node().getComputedTextLength() > width) {
            line.pop();
            tspan.text(line.join(" "));
            line = [word];
            tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
          }
        }
      });
    }

  });

  </script>
</body>