.container.body-container {
    background: url("/static/images/crossword.png");
    border-radius: 7px;
    min-height: 600px;
}

#add-student-to-new-class-header,
#add-student-to-new-class-form,
#add-student-to-roster-form,
#add-exam-form,
#add-score-form {
    visibility: hidden;
}

.navbar-default {
    background-color: #16a085;
}

.navbar-default .navbar-brand {
    font-family: 'Pridi', serif;
    font-size: 26px;
    font-weight: 500;
    text-shadow: 0 -1px 0 #02120F;
}

/*#nav-dropdown {
    text-shadow: 0 -0.05px 0 #02120F;
}*/

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

.form-control {
    min-height: 34px;
    margin-bottom: 15px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:visited {
    background-color: #16a085;
    border-color: rgba(0,0,0,0.25);
    background-image: linear-gradient(-180deg, #1dd4b0 0%, #16a085 90%);
    font-family: 'Pridi', serif;
}

.btn-primary:hover {
    background-color: #1abc9c;
    border-color: rgba(0,0,0,0.25);
    background-image: linear-gradient(-180deg, #1abd9d 0%, #16a085 90%);
}

#homepage-sign-up-btn {
    padding: 12px 48px;
    /*font-family: 'Pridi', serif;*/
    font-size: 18px;
}

.btn-holder {
    text-align: center;
}

.auth-form-div {
    width: 340px;
    margin: 0 auto;
}

.auth-form-header {
    padding: 10px 20px;
    margin: 0;
    text-align: center;
    font-family: 'Pridi', serif;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    background-color: #16a085;
    border: 1px solid #768995;
    border-radius: 3px 3px 0 0;
}

.auth-form-body {
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-top: 0;
    border-radius: 0 0 3px 3px;
}

.forgot-pwd-link {
    font-size: 12px;
    /*float: right;*/
    /*margin-bottom: 15px;*/
}

#login-btn,
#khan-connect-button {
    margin: 20px 0 0 0;
}

.alternate-auth {
    padding: 15px;
    text-align: center;
}

#complete-class {
    display: none;
}

/*#graph-view-button-group {
    display: block;
    margin: auto;
    width: 50%;
}*/

h1, h2, h3 {
    font-family: 'Source Serif Pro', serif;
}

/*h1, h2 {
    font-weight: 600;
}*/

h4, h5, h6, p, a, li, table, .msg {
    font-family: 'Open Sans', sans-serif;
}

#homepage-first-row {
    background-size: cover;
    background-image: url(https://static.pexels.com/photos/7112/woman-typing-writing-windows.jpg);
    border-radius: 7px;
    height: 650px;
}

#homepage-title {
    padding: 70px;
    color: white;
    font-family: 'Pridi', serif;
    font-size: 96px;
    font-weight: 500;
    text-shadow: 0 -2px 0 #02120F;
    /*color: #02120F;*/
    /*text-shadow: 0 -1px 0 rgba(0,0,0,0.3);*/
    text-align: center;
}

#homepage-inner-div {
    position: relative;
    margin: -50px 250px 0 250px;
    height: 350px;
    border-radius: 7px;
    background-color: rgba(2, 18, 15, 0.75);
    /*background-color: #02120F;*/
    display: none;
}

.homepage-inner {
    color: white;
    text-align: center;
    /*margin: 20px 60px 0 60px;*/
}

#desc-title {
    padding: 40px 0 10px 0;
    font-size: 40px;
}

#desc-body {
    padding: 10px 0 30px;
}

.classroom-list-container {
    padding-left: 60px;
    padding-bottom: 10px;
}

.in-app-form-body {
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 70%;
    font-size: 14px;
}

.form-control.add-score-form-control {
    /*display: inline-block;*/
    min-height: 0;
    margin-bottom: 0;
}

#student-email-field {
    display: inline-block;
    width: 70%;
    margin-bottom: 7px;
}

#score-field {
    display: inline-block;
    width: 30%;
}

#add-score-submit {
    display: inline-block;
    margin: 0 auto;
    width: 45%;
}

.msg {
    display: block;
    margin-left: 70px;
    margin-top: -40px;
    margin-bottom: 50px;
    /*border: 1px solid black;*/
}

#exam-scores-col {
    padding-top: 41px;
}

#curtain {
    padding-left: 70px;
}

#chart-container {
    display: none;
}

#timestamp-chart,
#timestamp-chart-title {
    display: none;
}

.footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #586069;
    border-top: 1px solid #eaecef;
}

.footer-links {
    margin: 0;
    list-style: none;
}

.footer-links li {
    display: inline-block;
    /*line-height: 16px;*/
    padding-right: 10px;
    font-size: 10px;
}

.float-right {
    float: right !important;
}

.flashes {
    /*min-height: 39px;*/
    min-height: 19px;
}