#add-student-to-new-class-header,
#add-student-to-new-class-form,
#add-student-to-roster-form,
#add-exam-form,
#add-score-form {
    visibility: hidden;
}

.login-on-homepage {
    display: none;
}

#register-on-homepage-button,
#login-on-homepage-button {
    color: #000;
    background-color: #eddca1;
    padding: 14px 25px;
    border: 2px outset #b37d00;
    border-radius: 15px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

#complete-class {
    display: none;
}

#khan-register-submit {
    color: #000;
    background-color: #ffb200;
    border: 2px outset #b37d00;
    width: 180px;
}

#graph-view-button-group {
    display: block;
    margin: auto;
    width: 50%;
}

.homepage-main,
p.register-on-homepage {
    color: white;
}

#homepage-title {
    font-weight: bold;
}

#bubble-chart,
#pie-chart,
#scatterplot-chart {
    display: none;
}

.flashes {
    min-height: 39px;
}