<!doctype html>
<html>
<head>
    <title>Project</title>
    <link rel="stylesheet" href='/static/index.css'>
    {% block head %}{% endblock %}
</head>
<body>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div id='flash-msgs'></div>

    {% block content %} CONTENT HERE {% endblock %}

<script src="https://code.jquery.com/jquery.js"></script>
<script src='/static/js/create-class.js'></script>
<script src='/static/js/exam-info.js'></script>

</body>
</html>