<!doctype html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro:400,600,700"> -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Serif+Pro|Pridi:400,500" rel="stylesheet">
  <link rel="stylesheet" href='/static/index.css'>
  <link rel="stylesheet" href='/static/reload.css'>

  <title>{% block head %}HEAD HERE{% endblock %}</title>

</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">KhanLine</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% block nav %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, <strong>{{ user_f_name }} </strong><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!-- <li><a href="#">Your Profile</a></li>
              <li><a href="#">Your Classrooms</a></li>
              <li><a href="#">Add a Classroom</a></li>
              <li role="separator" class="divider"></li> -->
              <li><a href="/settings">Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
          {% endblock %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    {% with messages = get_flashed_messages() %}
    <div class='flashes'>
      {% if messages %}
        {% for message in messages %}
          <h4>{{ message }}</h4>
        {% endfor %}
      {% endif %}
    </div>
    {% endwith %}
    <div id='flash-msgs'></div>
  </div>

  {% block content %} CONTENT HERE {% endblock %}

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src='/static/js/homepage.js'></script>
  <script src='/static/js/homepage-user.js'></script>
  <script src='/static/js/classroom.js'></script>
  <script src='/static/js/create-class.js'></script>
  <script src='/static/js/student-roster.js'></script>
  <script src='/static/js/exam-individual.js'></script>
  <script>

  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      if ($('.flashes h4').length) {
        setTimeout(function() {
          console.log('emptying flashes!')
          // $('.flashes').empty();
        }, 2000);
      }
    });
  </script>
</body>
</html>