{% extends 'base.html' %}

{% block head %}{{ classroom.name }} | KhanLine{% endblock %}

{% block content %}
<div id='body-container' class="container">
  <div class="row">
    <div class='col-lg-12'>

      <h1 id='class-id' data-class="{{ classroom.class_id }}">{{ classroom.name }}</h1>

      <h4><a href='/classroom/student-roster?class_id={{ classroom.class_id }}'>Student Roster</a></h4>
    </div>

    <div class='col-lg-4'>

      <h3>Exams</h3>

      <div id='exam-list'>

        {% if exams %}

          {% for exam in exams %}

            <p><a href="/classroom/exam?class_id={{ classroom.class_id }}&exam_id={{ exam.exam_id }}">{{ exam.name }}</a></p>

          {% endfor %}

        {% endif %}

      </div>

      <br>
      <h4><a href='' id='add-exam-button'>Add a New Exam</a></h4>

      <form id='add-exam-form'>
          <label>Exam Name: </label>
          <input type='text' id='exam-name-field' name='exam-name'><br>
          <label>Date: </label>
          <input type='date' id='exam-timestamp-field' name='exam-timestamp'><br>
          <label>Total Points: </label>
          <input type='text' id='total-points-field' name='total-points'><br>
          <input type='submit' id='add-exam-submit' value='Add Exam'>
      </form>
    </div>

    <div class='col-lg-8'>

      <!-- https://bl.ocks.org/mbostock/4063318
      https://bl.ocks.org/mbostock/4062085 -->

      <div id='classroom-chart-div'>
        <h3 class='classroom-chart-title'>Exam Scores in Relation to Number of Videos Watched</h3>
        <iframe id='line-chart' class='classroom-chart' src="/classroom-line-d3?class_id={{ classroom.class_id }}" width="860px" height="650px" seamless frameBorder="0" scrolling="no"></iframe>
      </div>

    </div>
  </div>
</div>

{% endblock %}