{% extends 'base.html' %}

{% block head %}KhanClassroom - Create Class{% endblock %}

{% block content %}

<h1>Welcome!</h1>

<h3 id='create-class-header'>Step 1: Create a Class</h3>

<form id='create-class-form'>
    <label>Class Name: </label>
    <input type='text' id='class-name-field' name='class-name'><br>
    <label>Subject: </label>
    <select id='subject-field' name='subject'>
    {% for subject in subjects %}
        <option value='{{ subject }}'>{{ subject }}<br>
    {% endfor %}
    </select><br>
    <input type='submit' id='create-class-submit' value='Add Class'>
</form>

<h3 id='add-student-to-new-class-header'>Step 2: Create a Student Roster</h3>

<form id='add-student-to-new-class-form'>
    <label>First Name: </label>
    <input type='text' id='f-name-field' name='f-name'><br>
    <label>Last Name: </label>
    <input type='text' id='l-name-field' name='l-name'><br>
    <label>Email: </label>
    <input type='text' id='student-email-field' name='student-email'><br>
    <label>Khan Academy Username: </label>
    <input type='text' id='khan-username-field' name='khan-username'><br>
    <input type='submit' id='add-student-to-new-class-submit' value='Add Student to Roster'>
</form>

<br>
<h3 id='complete-class'>Step 3: <a href='/'>Complete Classroom</a></h3>

{% endblock %}