<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <title>Bar Chart</title>

  <style>

  #grouped-stacked-radio {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  text {
      font: 10px sans-serif;
      text-anchor: middle;
    }

  label {
    display: block;
  }

  </style>
</head>

<body>
  <form id='grouped-stacked-radio'>
    <label><input type="radio" name="mode" value="grouped"> Grouped</label>
    <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
  </form>
  <svg width="760" height="600"></svg>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-queue.v3.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script>


  d3.json('/exam-bar-data.json?exam_id={{ exam_id }}', function(error, data) {
    if (error) { console.log(error); }

    examData = [];
    numKeys = 0

    for (var key in data) {
      if (!data.hasOwnProperty(key)) continue;

      examData.push(data[key]);
      numKeys++;
    }

    var n = 5;       // The number of series:
                     //   examScores, numVideos, avgPoints, avgSecsWatched.
    var m = numKeys; // The number of values per series:
                     //   number of ExamResults containing this exam_id.

    console.log(examData);
    displayD3(examData, n, m);
  });

  function displayD3(dataArray, n, m) {

    // The xz array has m elements, representing the x-values shared by all series.
    // The yz array has n elements, representing the y-values of each of the n series.
    // Each yz[i] is an array of m non-negative numbers representing a y-value for xz[i].
    // The y01z array has the same structure as yz, but with stacked [y₀, y₁] instead of y.

    var videoNames = [],
        aViews = [],
        bViews = [],
        cViews = [],
        dViews = [],
        fViews = [];

    for (i = 0; i < m; ++i) {
      videoNames[i] = dataArray[i].video_name;
      aViews[i] = dataArray[i].A;
      bViews[i] = dataArray[i].B;
      cViews[i] = dataArray[i].C;
      dViews[i] = dataArray[i].D;
      fViews[i] = dataArray[i].F;
    }

    console.log(videoNames);

    var allResults = [aViews, bViews, cViews, dViews, fViews];
    // console.log(allResults);

    var barLabels = ['A',
                     'B',
                     'C',
                     'D',
                     'F']

    var xz = d3.range(m),
    // var xz = d3.range(m).map(function(i, data) { return videoNames[i]; }),
        yz = d3.range(n).map(function(i, data) { return allResults[i]; }),
        y01z = d3.stack().keys(d3.range(n))(d3.transpose(yz)),
        yMax = d3.max(yz, function(y) { return d3.max(y); }),
        y1Max = d3.max(y01z, function(y) { return d3.max(y, function(d) { return d[1]; }); });

    var svg = d3.select("svg"),
        margin = {top: 60, right: 10, bottom: 75, left: 10},
        width = +svg.attr("width") - margin.left - margin.right,
        height = +svg.attr("height") - margin.top - margin.bottom,
        g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.scaleBand()
        .domain(xz)
        .rangeRound([0, width])
        .padding(0.08);

    var y = d3.scaleLinear()
        .domain([0, y1Max])
        .range([height, 0]);

    // var color = d3.scaleOrdinal()
    //     .domain(d3.range(n))
    //     .range(d3.schemeCategory20c);
    var color = d3.scaleOrdinal()
        .range(['#16a085', '#1abc9c', '#f1c40f', '#f39c12', '#e67e22']); 

    var series = g.selectAll(".series")
      .data(y01z)
      .enter().append("g")
        .attr("fill", function(d, i) { return color(i); });

    var rect = series.selectAll("rect")
      .data(function(d) { return d; })
      .enter().append("rect")
        .attr("x", function(d, i) { return x(i); })
        .attr("y", height)
        .attr("width", x.bandwidth())
        .attr("height", 0);

    rect.transition()
        .delay(function(d, i) { return i * 10; })
        .attr("y", function(d) { return y(d[1]); })
        .attr("height", function(d) { return y(d[0]) - y(d[1]); });

    g.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x)
            .tickSize(8)
            .tickPadding(6))
      .selectAll("text")
        // .innerHTML("Hi")
        // .html("hi")
        .html(function(d, i) { return videoNames[i]; })
        .attr("dx", "-2em")
        .attr("transform", "rotate(20)")
        .style("text-anchor", "start");

    // svg.append("text")      // text label for the x axis
    //       .attr("transform", "translate(" + (width / 2) + " ," + (height + margin.bottom) + ")")
    //       .style("text-anchor", "middle")
    //       .text("Date");

    d3.selectAll("input")
        .on("change", changed);

    var timeout = d3.timeout(function() {
      d3.select("input[value=\"grouped\"]")
          .property("checked", true)
          .dispatch("change");
    }, 2000);

    function changed() {
      timeout.stop();
      if (this.value === "grouped") transitionGrouped();
      else transitionStacked();
    }

    function transitionGrouped() {
      y.domain([0, yMax]);

      rect.transition()
          .duration(500)
          .delay(function(d, i) { return i * 10; })
          .attr("x", function(d, i) { return x(i) + x.bandwidth() / n * this.parentNode.__data__.key; })
          .attr("width", x.bandwidth() / n)
        .transition()
          .attr("y", function(d) { return y(d[1] - d[0]); })
          .attr("height", function(d) { return y(0) - y(d[1] - d[0]); });
    }

    function transitionStacked() {
      y.domain([0, y1Max]);

      rect.transition()
          .duration(500)
          .delay(function(d, i) { return i * 10; })
          .attr("y", function(d) { return y(d[1]); })
          .attr("height", function(d) { return y(d[0]) - y(d[1]); })
        .transition()
          .attr("x", function(d, i) { return x(i); })
          .attr("width", x.bandwidth());
    }

    var legend = svg.selectAll(".legend")
        .data(color.domain())
      .enter().append("g")
        .attr("class", "legend")
        // .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });
      .attr("transform", function(d, i) { return "translate(" + i * 25 + ", 0)"; });

    legend.append("rect")
        // .attr("x", width - 700)
        .attr("x", width - 128)
        .attr("y", 10)
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", color);
        // .style("fill", function(d, i) { return color(i); });

    legend.data(barLabels);    // redefine data for text
    
    legend.append("text")
        // .attr("x", width - 676)
        .attr("x", width - 123)
        .attr("y", 19)
        .attr("dy", ".35em")
        .style("text-anchor", "start")
        .style("fill", "white")
        .style("text-shadow", "1px 1px 0")
        .style("font-weight", "bold")
        // .text(function(d) { return d; });  // set legend label
        .text(function(d, i) { return d ; })

  }

  </script>
</body>