{% extends 'base.html' %}

{% block head %}{{ exam.name }} | KhanClassroom{% endblock %}

{% block content %}

<div class="row">
  <div class='col-lg-12'>

    <h1 id='exam-id' data-exam="{{ exam.exam_id }}">{{ exam.name }}</h1>

    <h4><a href='/classroom?class_id={{ classroom.class_id }}'>Back to Classroom</a></h4>

  </div>
  <div class='col-lg-4'>

    <h3>Scores:</h3>

    <table id='scores-table' style="width:80%">
      <tr>
        <th>Student</th>
        <th>Score</th>
      </tr>

    {% if examresults %}

        {% for examresult in examresults %}

        <tr>
          <td>{{ examresult.student_name }}</td>
          <td>{{ examresult.exam_score }}</td>
        </tr>

        {% endfor %}

    </table>

    {% else %}

    </table>
    <p id='no-scores'>No scores yet.</p>

    {% endif %}

    <br>
    <h4><a href='' id='add-score-button'>Add a New Score</a></h4>

    <form id='add-score-form'>
        <label>Student: </label>
        <select id='student-email-field' name='student-name'>
        {% for student in students %}
            <option value='{{ student.student_email }}'>{{ student.f_name }} {{ student.l_name }}<br>
        {% endfor %}
        </select><br>
        <label>Score: </label>
        <input type='number' id='score-field' name='score' min='0' max='{{ exam.total_points }}'><br>
        <input type='submit' id='add-score-submit' value='Add Score'>
    </form>

  </div>
  <div class='col-lg-8'>

    <!-- https://bl.ocks.org/mbostock/4063318
    https://bl.ocks.org/mbostock/4062085 -->

    <div id="graph-view-button-group" class="btn-group" role="group" aria-label="...">
      <a class="btn btn-default" id='bar-button' href="/" role="button">Bar</a>
      <!-- <a class="btn btn-default" id='pie-button' href="/" role="button">Pie</a> -->
      <a class="btn btn-default" id='scatterplot-button' href="/" role="button">Scatterplot</a>
    </div>

    <div id='exam-chart-div'>
      <iframe id='bar-chart' class='exam-chart' src="/exam-bar-d3?exam_id={{ exam.exam_id }}" width="860px" height="650px" seamless frameBorder="0" scrolling="no"></iframe>
      <!-- <iframe id='pie-chart' class='exam-chart' src="/exam-pie-d3?exam_id={{ exam.exam_id }}" width="860px" height="650px" seamless frameBorder="0" scrolling="no"></iframe> -->
      <iframe id='timestamp-chart' class='exam-chart' src="/exam-timestamp-d3?exam_id={{ exam.exam_id }}" width="860px" height="650px" seamless frameBorder="0" scrolling="no"></iframe>
    </div>

  </div>
</div>

{% endblock %}