{% extends 'base.html' %}
{% block content %}

<h1>{{ exam.name }}</h1>

<h4><a href='/classroom'>Back to Classroom</a></h4>

{% if examresults %}
  <h3>Scores:</h3>

  <ul>
    {% for examresult in examresults %}
      <li>Student {{ examresult.student_email }}: {{ examresult.score }}</li>
    {% endfor %}
  </ul>

{% endif %}

<h3><a id='add-score-button'>Add a New Score</a></h3>

<form action='/classroom/add-score' method='post' id='add-score-form'>
    <label>Student Email: </label>
    <input type='text' name='student-email'><br>
    <label>Score:</label>
    <input type='text' name='score'><br>
    <input type='submit' id='add-score-submit' value='Add Score'>
</form>

{% endblock %}