{% extends 'base.html' %}

{% block head %}KhanLine{% endblock %}

{% block nav %}

<li><a id='login-nav-button' href="/login">Sign In</a></li>
<li><a id='register-nav-button' href="/register">Register</a></li>

{% endblock %}

{% block content %}

<div id='homepage-container' class="container">
  <div id='homepage-main-row' class='row'>

    <h1 class='homepage-main' id='homepage-title'>KhanLine</h1>

  </div>

  <div id='homepage-second-row' class='row'>

    <h2 class='homepage-second' id='desc-title'>Who are we?</h2>

    <h4 class='homepage-second' id='desc-body'>At KhanLine, we provide a vital tool for any Khan Academy coach...<br>the ability to compare online progress and in-class performance.</h4>

    <a href="/register" class='btn btn-primary btn-block' id='homepage-sign-up-btn'>Sign Up</a><br>

  </div>
</div>


{% endblock %}