{% extends 'base.html' %}

{% block head %}KhanLine{% endblock %}

{% block content %}

<div id='homepage-user-container' class="container body-container">

    <h1>Overview</h1>

    <div class='classroom-list-container'>

        <h3>Your Courses:</h3>

        <!-- <div id='classroom-list'>

          {% if classrooms %}

            {% for classroom in classrooms %}

              <h4><a href="/classroom?class_id={{ classroom.class_id }}">{{ classroom.name }}</h4></p>

            {% endfor %}

          {% else %}

            <p>No courses yet!</p>

          {% endif %}

        </div> -->

        <table id='classroom-table' style="width:67%">
          <!-- <tr>
            <th>Student</th>
            <th>Score</th>
          </tr> -->

        {% if classrooms %}

            {% for classroom in classrooms %}

            <tr>
              <td><h4><a href="/classroom?class_id={{ classroom.class_id }}">{{ classroom.name }}</h4></td>
              <td>{{ subject_dict[classroom.subject_code] }}</td>
              <td>{{ classroom.school }}</td>
              <td>{{ classroom.year }}</td>
              <td><a href='#'>Edit Course</a></td>
            </tr>

            {% endfor %}

        </table>

        {% else %}

        </table>
        <p id='no-classrooms'>No courses yet!</p>

        {% endif %}
    </div>

    <div class='classroom-list-container'>
        <h4><a class='btn btn-primary' href='/create-class'>Add a New Course</a></h4>
    </div>

</div>

{% endblock %}