{% extends 'base.html' %}

{% block head %}Sign Up | KhanLine{% endblock %}

{% block nav %}

<li><a id='login-nav-button' href="/login">Sign In</a></li>
<li><a id='register-nav-button' href="/register">Register</a></li>

{% endblock %}

{% block content %}

<div class='auth-form-div'>
  <form accept-charset="UTF-8" action="/register" method="post">
    <!-- <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="✓">
        <input name="authenticity_token" type="hidden" value="4SuFadPv+YJxIjWfw0bD2/4BxX1CVXkFLAuhA3WW4kPGZWI4t9O0d8K1kvdweYbUTyeTud34VNFy/3l9/CPQrw==">
    </div> -->

    <div class="auth-form-header p-0">
        <h1>Create an Account</h1>
    </div>

    <div id="js-flash-container">
    </div>

    <div class="auth-form-body mt-3">

      <p class='alternate-auth'>
        We keep it simple.<br>Just connect to Khan Academy.
      </p>

      <input class="btn btn-primary btn-block" id='khan-connect-btn' data-disable-with="Signing in…" name="commit" tabindex="3" type="submit" value="Authorize">

    </div>
  </form>

  <p class='alternate-auth'>
    Already registered with us? <a href='/login'>Sign in.</a>
  </p>
</div>

<!-- <h1>Register with KhanLine</h1>

<br>
<p>We keep it simple. Just connect your Khan Academy account!</p>

<form action='/register' method='post' id='khan-register-form'>
    <input type='submit' id='khan-register-submit' value='Sign in to Khan Academy'>
</form>

<form action='/register' method='post' class='register-form'>
    <label>First Name: </label>
    <input type='text' name='f_name'><br>
    <label>Last Name: </label>
    <input type='text' name='l_name'><br>
    <label>Email: </label>
    <input type='text' name='email'><br>
    <label>Password: </label>
    <input type='text' name='password'><br>
    <label>Zipcode: </label>
    <input type='text' name='zipcode'><br>
    <label>District: </label>
    <input type='text' name='district'><br>
    <input type='submit' value='Register'>
</form>

<br>
<h4>Already registered with us? <a href='/login'>Sign in here.</a></h4> -->

{% endblock %}