{% extends 'base.html' %}

{% block head %}KhanClassroom - Register{% endblock %}

{% block content %}

<h1>Register with KhanClassroom</h1>

<br>
<p>We keep it simple. Just connect your Khan Academy account!</p>

<form action='/register' method='post' id='khan-register-form'>
    <input type='submit' id='khan-register-submit' value='Sign in to Khan Academy'>
</form>

<!-- <form action='/register' method='post' class='register-form'>
    <label>First Name: </label>
    <input type='text' name='f_name'><br>
    <label>Last Name: </label>
    <input type='text' name='l_name'><br>
    <label>Email: </label>
    <input type='text' name='email'><br>
    <label>Password: </label>
    <input type='text' name='password'><br>
    <label>Zipcode: </label>
    <input type='text' name='zipcode'><br>
    <label>District: </label>
    <input type='text' name='district'><br>
    <input type='submit' value='Register'>
</form> -->

<br>
<h4>Already registered with us? <a href='/login'>Log in here.</a></h4>

{% endblock %}