{% extends 'base.html' %}

{% block head %}KhanClassroom - Login{% endblock %}

{% block nav %}

<li><a id='login-nav-button' href="/sign-in">Sign In</a></li>
<li><a id='register-nav-button' href="/sign-in">Register</a></li>

{% endblock %}

{% block content %}

<div id='sign-in-container'>

  <div id='login-div' class='sign-in-div'>
    <h1>Sign in to KhanClassroom</h1>

    <br>
    <form action='/login' method='post' id='login-form'>
        <label>Email: </label>
        <input type='text' name='email'><br>
        <label>Password: </label>
        <input type='text' name='password'><br>
        <input type='submit' value='Login'>
    </form>

    <br>
    <h4>Not yet a user? <a href='/register'>Register here.</a></h4>
  </div>

  <div id='register-div' class='sign-in-div'>
    <h1>Register with KhanClassroom</h1>

    <br>
    <p>We keep it simple. Just connect your Khan Academy account!</p>

    <form action='/register' method='post' id='khan-register-form'>
        <input type='submit' id='khan-register-submit' value='Sign in to Khan Academy'>
    </form>

    <br>
    <h4>Already registered with us? <a href='/login'>Log in here.</a></h4>
  </div>

</div>

{% endblock %}