{% extends 'base.html' %}

{% block head %}KhanClassroom - Student Roster{% endblock %}

{% block content %}

<h1>{{ classroom.name }} Student Roster</h1>

<h4><a href='/classroom?class_id={{ classroom.class_id }}'>Back to Classroom</a></h4>

<br>
<table id='student-roster-table' style="width:75%">
  <tr>
    <th>Name</th>
    <th>Email</th> 
    <th>Username</th>
  </tr>

{% if students %}

    {% for student in students %}

    <tr>
      <td>{{ student.f_name }} {{ student.l_name }}</td>
      <td>{{ student.student_email }}</td> 
      <td>{{ student.khan_username }}</td>
    </tr>

    {% endfor %}

</table>

{% else %}

</table>
<p id='no-students'>No students yet.</p>

{% endif %}

<br>
<h4><a href='' id='add-student-to-roster-button'>Add a New Student</a></h4>

<form id='add-student-to-roster-form'>
  <label>First Name: </label>
    <input type='text' id='f-name-field' name='f-name'><br>
  <label>Last Name: </label>
    <input type='text' id='l-name-field' name='l-name'><br>
  <label>Email: </label>
    <input type='text' id='student-email-field' name='student-email'><br>
  <label>Khan Academy Username: </label>
    <input type='text' id='khan-username-field' name='khan-username'><br>
  <input type='submit' id='add-student-to-roster-submit' value='Add Student'>
</form>

{% endblock %}