{% extends 'base.html' %}

{% block head %}

<script src="https://code.jquery.com/jquery.js"></script>
<script src='static/js/add-class.js'></script>

{% endblock %}

{% block content %}

<h1>Add New Class</h1>

<form action='/classes/add-class' method='post' id='add-class-form'>
    <label>Class Name: </label>
    <input type='text' id='class-name-field' name='class-name'><br>
    <label>Subject: </label>
    <select id='subject-field' name='subject'>
    {% for subject in subjects %}
        <option value='{{ subject }}'>{{ subject }}<br>
    {% endfor %}
    </select><br>
    <input type='submit' id='add-class-submit' value='Add Class'>
</form>

<form action='/classes/add-class' method='post' id='add-student-to-new-class-form' hidden>
    <label>Student Name: </label>
    <input type='text' class='student-name' name='student-name'><br>
    <input type='submit' id='add-student-to-new-class-submit' value='Add Student to Class'>
</form>

{% endblock %}